h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
dl,
dt,
dd,
ol,
ul,
li {
	margin: 0;
	padding: 0;
}

*,
:active,
:focus {
	outline: none !important;
}

.form-control,
.form-control:focus  {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

::selection {
	background: #e74c3c;
	color: #ffffff;
}
::-moz-selection {
 background: #e74c3c;
  /* Firefox */
  color: #ffffff;
}
::-webkit-selection {
 background: #e74c3c;
  /* Safari */
  color: #ffffff;
}

html {
	font-size: 1rem;
}

body {
	background-color: #ffffff;
	font-family: 'Rubik', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #999999;
	margin: 0;
}

.wrapper {
	background-color: #ffffff;
}

a {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #e74c3c;
}

a:hover {
	color: #d62c1a;
	text-decoration: none;
}

a:focus {
	color: #d62c1a;
	text-decoration: none;
}

a:active {
	color: #d62c1a;
	text-decoration: none;
}

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form {
	margin-bottom: 20px;
}

section {
	padding-top: 100px;
	padding-bottom: 100px;
	overflow: hidden;
}

@media only screen and (max-width: 767px) {

  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* ----------------------------------------------------------------
	Loading Screen
-----------------------------------------------------------------*/
.preloader {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 99999;
	background-color: #fff;
	overflow: hidden;
	padding-top: 140px;
	padding-bottom: 240px;
}

.sk-cube-grid {
	width: 40px;
	height: 40px;
	margin: 100px auto;
}

.sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: #e74c3c;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
	animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,  70%,  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%,  70%,  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: #2c3e50;
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	margin: 0 0 20px 0;
	letter-spacing: 1px;
}

h1,
.h1 {
	font-size: 32px;
}

h3,
.h3 {
	font-size: 25px;
}

h4,
.h4 {
	font-size: 22px;
}

p {
	font-family: 'Rubik', sans-serif;
	color: #999999;
	font-size: 13px;
	font-weight: 400;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.pb-0 {
	padding-bottom: 0;
}

.bg-gray {
	background-color: #fafafa !important;
}

.bg-section {
	position: relative;
	overflow: hidden;
	z-index: 1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}

.btn {
	position: relative;
	z-index: 2;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	border-radius: 0.3rem;
	padding: 0;
	width: 200px;
	height: 46px;
}

.btn-primary {
  background-color: #F7EC13;
	color: black;
  border: none;
  line-height: 3.5;
	transition: all 300ms linear;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
	color: black;
	background-image: none;
	background-color: #72c044 !important;
	border: none !important;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}

.form-control {
	color: #999999;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 300;
	background-color: #f2f2f2;
	border: none;
	border-radius: 0.3rem;
	height: 46px;
	padding: 0 25px;
}

.wrapper {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.media {
	padding-top: 80px;
	padding-bottom: 80px;
	margin-top: 0;
}

.media-4 .popup-video {
	float: none;
	margin-right: 0;
	display: block;
}

.media-4 .popup-video {
	margin-bottom: 55px;
}

.media-4 .popup-video i {
  background-color: #ffffff;
  border-radius: 50%;
	border: none;
	color: black;
	width: 85px;
  height: 85px;
  line-height: 85px;
}

.media-4 h3 {
	color: #ffffff;
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.media-4 p {
	color: #ffffff;
	font-family: 'Rubik', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 0;
}

.media-5 .popup-video {
	margin-bottom: 0;
}

.media-5 p {
	margin-bottom: 35px;
}

footer {
	padding-top: 100px;
	padding-bottom: 100px;
}

.featured .featured-panel {
	position: relative;
}

.featured .featured-content h3 {
	color: #2c3e50;
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.featured .featured-content p {
	color: black;
	font-family: 'Rubik', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 0;
}

.featured-2 .featured-panel {
	padding-right: 48px;
	padding-left: 48px;
}

.featured-2 .featured-icon {
	margin-bottom: 40px;
}

.testimonials-4 .testimonial-panel {
	position: relative;
	padding-top: 100px;
}

.testimonials-4 .testimonial-icon {
	font-size: 25px;
	margin-bottom: 45px;
	color: #2c3e50;
	position: absolute;
	top: 100px;
	left: 0;
}

.testimonials-4 .testimonial-body {
	padding-left: 50px;
}

.testimonials-4 .testimonial-content {
	margin-bottom: 30px;
}

.testimonials-4 .testimonial-content p {
	color: #999999;
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 0;
}

.testimonials-4 .testimonial-meta h4 {
	color: #2c3e50;
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: capitalize;
	margin-bottom: 15px;
}

.testimonials-4 .testimonial-meta p {
	color: #999999;
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 0;
}

.header-onepage {
	background-color: transparent;
	height: 94px;
}

.header-onepage + section {
	margin-top: -94px;/*padding-top:210px;*/
}

.header-onepage .navbar {
	background-color: transparent;
	height: 94px;
}

.navbar {
	margin-bottom: 0;
}

.navbar.affix {
	background-color: rgba(0, 0, 0, 0.7);
	padding-top: 0;
}

.navbar .logo {
  height: 94px;
  line-height: 94px;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar .container .spacer {
  flex: 1;
}

.navbar .container .coming-soon {
  text-transform: uppercase;
  color: white;
}

.navbar .container .coming-soon span {
  color: black;
  background: #F7EC13;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
}

.hero {
	height: auto /*780px*/;
}

.hero .hero-next {
	position: absolute;
	bottom: 70px;
	text-align: center;
	width: 100%;
}

.hero .hero-next a {
	color: #ffffff;
	font-size: 20px;
}

@-webkit-keyframes heroNext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes heroNext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes heroNext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heroNext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero .hero-next a {
	-webkit-animation: heroNext 2s infinite;
	/* Safari 4+ */
	-moz-animation: heroNext 2s infinite;
	/* Fx 5+ */
	-o-animation: heroNext 2s infinite;
	/* Opera 12+ */
	animation: heroNext 2s infinite;/* IE 10+, Fx 29+ */
}

.hero-4 {
	text-align: center;
}

.hero-4 .hero-content {
	padding-top: 138px;
}

.hero-4 h1 {
	color: #ffffff;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 60px;
}

.hero-4 p {
	color: #ffffff;
	font-family: 'Rubik', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 70px;
}

.hero-4 form {
	margin-bottom: 30px;
}

.hero-4 form .form-control {
	margin-right: 30px;
	display: inline-block;
	font-size: 1.2rem;
}

.hero-4 form #MERGE0 {
	width: 370px;
}

.blog .entry {
	background-color: #fafafa;
}

.blog.bg-gray .entry {
	background-color: #ffffff;
}

.blog .entry .entry-content {
	padding: 35px 35px 28px 35px;
}

.blog .entry .entry-content .entry-meta {
	color: #999999;
	font-family: 'Rubik', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.blog .entry .entry-content h3 {
	color: #2c3e50;
	font-family: 'Rubik', sans-serif;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
}

.blog .entry .entry-content p {
	color: black;
	font-family: 'Rubik', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 0;
}

.hero-next > a > i {
  font-size: 2rem;
}

.hero-content > h1 {
  font-size: 5rem;
  margin-bottom: 0.2rem;
}

.popup-video > i {
  transition: all 250ms ease;
  background-color: #F7EC13 !important;
  display: block;
  font-size: 3rem !important;
  margin: auto;
}

.popup-video > i:hover {
  background-color: #72c044 !important;
}

.hero-content > p.email-clar {
  font-size: 13px;
}

.hero-content > .form-action > form {
  margin-bottom: 0.5rem;
}

.entry-img {
  height: 90px;
  display: flex;
}

.entry-img.lui {
  background: #069edb;
}

.partner-img {
  margin: auto;
}

.partner-heading {
  margin-bottom: 3rem;
}

footer {
  padding: 0
}

.featured-icon img {
  margin: auto;
  height: 200px;
}

.featured-2 .white, .partner-heading h3 {
  margin-bottom: 4rem;
  font-size: 32px;
}

span.focus.dark {
  padding: 0.2rem 0.5rem;
  background: #F7EC13;
  color: black;
  border-radius: 0.3rem;
}

p {
  font-size: 1.5rem;
}

footer {
  background-color: #151515;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {

  .media {
    text-align: center;
    padding-top: 60px;
  }

  .media .popup-video {
    float: none;
    margin-right: 0;
    margin-bottom: 30px;
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .featured-2 .featured-panel {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .heading {
    margin-bottom: 50px;
  }

  .heading h2 {
    font-size: 26px;
  }

  .heading p {
    font-size: 16px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {

  .navbar-nav {
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .container > .navbar-header {
    margin-left: 0;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-header {
    float: none !important;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .navbar-nav {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .hero-4 {
    text-align: center;
    height: auto;
  }

  .hero-4 .hero-content {
    padding-top: 60px;
  }

  .hero-4 form .form-control {
    margin-bottom: 20px;
    width: 100% !important;
  }

  .hero-4 .btn{
    width: 100%;
  }

  .hero-4 p {
    margin-bottom: 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-4 form #MERGE0 {
    width: 200px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {

  .blog .entry {
    margin-bottom: 30px;
    text-align: center;
  }

  .blog .entry .entry-content {
    padding: 35px 15px 28px 15px;
  }

  .blog .entry img {
    max-width: 100%;
    text-align: center;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .blog .entry .entry-content {
    padding: 35px 15px 28px 15px;
  }

  .blog .entry img {
    max-width: 100%;
    text-align: center;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .featured .featured-panel{
    padding-bottom: 2rem;
  }
}

.footer-contents {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.footer-contents p,
.footer-contents a {
  font-size: 0.8rem;
}

.footer-contents p {
  margin-bottom: 0;
}

.footer-contents a {
  color: #F7EC13;
}

.footer-contents .spacer {
  flex: 1;
}

.footer-contents a i {
  font-size: 1.4rem !important;
  margin-left: 1rem;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .footer-contents {
    flex-direction: column;
  }
}
